@use '~/common/styles/variables' as v;

.wrapper {
  padding: 20px;
  font-weight: 500;
  color: v.$primary-bg-color;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}
