@use './common/styles/variables' as v;

html,
body {
  height: 100%;
  color: v.$primary-color;
  background-color: v.$primary-bg-color;
  transition: background-color 0.3s;
  font-family: 'PingFang SC', -apple-system, 'Segoe UI', 'Microsoft YaHei',
    sans-serif !important;
  overflow: auto;
}

.semi-divider_inner-text {
  transition: background-color 0.3s;
}

#root {
  height: 100%;
}

body[theme-mode='dark'] {
  color: v.$dark-primary-color;
  background-color: v.$dark-primary-bg-color;

  .toast-message {
    color: v.$primary-color;
  }
}
